.heroImage {
  height: 528px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center; 
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/static/img/balloons.jpg) bottom center no-repeat; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 20%), url(/static/img/balloons.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 118px 0px 0px;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .heroImage {
    height: 385px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.0) 20%) 0% 0% / cover, url(/static/img/balloons.jpg) center no-repeat;
    padding: 84px 0px 0px;
  }
}

@media screen and (max-width: 480px) {
  .heroImage {
    height: 385px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 20%) 0% 0% / cover, url(/static/img/balloons.jpg) center no-repeat;
    padding: 84px 0px 0px;
  }
}

.heroText {
  color: rgb(255, 255, 255);
  font-size: 44px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  margin: 12px 0px 0px;
  /* letter-spacing: 1px; */
}

.searchBar {
  margin-right: auto;
  margin-left: auto;
  padding-left: 6px;
  padding-right: 6px;
}

.tabs {
  text-align:center;
  margin-top:25px;
}

.tab {
  box-sizing: border-box;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  border: 0px;
  padding-left: 18px;
  padding-right: 18px;
  height: 44px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 18px;
  line-height: 1.556;
  transition: all .15s ease-in-out;
  vertical-align: middle;
  font-weight: 700!important;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}

.tab:hover {
  background: #20c063
}

.first {
  border-radius: 4px 0px 0px 0px !important;
}

.last {
  border-radius: 0px 4px 0px 0px !important;
}


