.navBar {
  position: absolute;
  width:100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .navBar {
    visibility: hidden;
  }
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.logo a:hover {
  text-decoration: none;
  font-weight:bold;
  color: #fff;
}

.navLink {
  padding-left: 24px;
}
.navLink a{
  flex: 1;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  text-align: right;
}

.navLink a:hover {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.mobileNavBar {
  position: absolute;
  width: 100%;
  padding: 15px;
  /* display: flex; */
  box-sizing: border-box;
  visibility: hidden;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .mobileNavBar {
    visibility: visible;
  }
}

.burgerMenu {
  color: #fff;
  font-size: 24px !important;
}

.burgerItem a {
  color: #fff;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-weight: 600;
  font-size: 22px;
}

.burgerItems {
  /* background-color: rgb(1,149,166,0.8); */
  margin-left: -15px;
  margin-right: -15px;
  padding: 0px 15px;
}

.collapsedBackground {
  background-color: rgb(1,149,166,0.5)
}