* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #474e52;
  font-family: 'Karla','Montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}